Files/SSIS_ETL/SSIS_ETL/Origem/arquivos_xml/TCE_CE.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Rows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Row">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="codigo_municipio" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="nome_municipio" type="xs:string" />
              <xs:element minOccurs="0" name="geoibgeId" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>